@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  /* min-height: 100vh; */
  width: 100vw;
  overflow-x: hidden;
  background-color: #bbb;
}
a{
  color: #333 ;
  text-decoration: none;
}

/* navbar */
.navbar-nav{
  width: 100%;
}
.nav-link{ 
  /* display: inline-block; */
  letter-spacing: 1px;
  color: #111;
  font-weight: 500;
}
/* login register form  */
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  padding: 2rem;
}
form{
  width: 23rem;
}
input,textarea,select,.margin{
  margin: 1rem 0;
  border-radius: 0 !important;
}
.password-input {
  position: relative;
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.dropzone {
  width: 250px; 
  height: 250px;
  border: 2px dashed #777; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.3s ease;
  text-align: center;
}
.dropzone .active {
  border: 2px dashed #333; 
}

.folder{
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: .5 ease-in-out;
  line-clamp: 1;
}
.folder:hover{
  transform: scale(1.1);
}
.folder > i{
  font-size: 4rem;
}

.cursor-pointer{
  cursor: pointer;
}
.file-name i {
  font-size: 1.25rem;
}
.file-name{
  min-width: 10rem;
}
td{
  min-width: 5rem;
}